.container1 {
  	position: relative;
  	width: 500px;
  	height: 450px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 2.5%;
  	margin-bottom: 2.5%;
  	background-color: transparent;
}

/* .map_netherlands {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
} */
.provinces {
  position: relative;
  display: inline-block;
  text-align: center;
}


/*
https://bl.ocks.org/duspviz-mit/9b6dce37101c30ab80d0bf378fe5e583
*/
.axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg{
  padding-left: 50px;
}
