.container1 {
  	position: relative;
  	width: 500px;
  	height: 450px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 2.5%;
  	margin-bottom: 2.5%;
  	background-color: transparent;
}

/* .map_netherlands {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
} */
.provinces {
  position: relative;
  display: inline-block;
  text-align: center;
}


/*
https://bl.ocks.org/duspviz-mit/9b6dce37101c30ab80d0bf378fe5e583
*/
.axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg{
  padding-left: 50px;
}

/*
https://www.tutorialsteacher.com/d3js/create-pie-chart-using-d3js
*/
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.title {
    fill: teal;
    font-weight: bold;
}


body {
  font-family: 'Open Sans', sans-serif;
}
.title-holder {
  text-align: center;
}
.title {
  font-family: 'Lato', sans-serif;
}
.subtitle {
  font-size: 20px;
}
.font {
  font-size: 18px;
}

/* legend */
.legend {
  font-size: 14px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

/* chart */
#chart {
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1200px;
}

/* tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

.footer {
  padding-top: 50px;
  text-align: center;
  list-style-type: none;
}
