.svg {
	  width: 100%;
 	  height: 100%;
    position: absolute;
 }

.legend rect {
 fill:white;
 stroke:black;
 opacity:0.8; }

 /* body {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .x.axis path {
   display: none;
 }

 .line {
   fill: none;
   stroke: steelblue;
   stroke-width: 1.5px;
 } */

 .tooltip {
 	background: #eee;
 	box-shadow: 0 0 5px #999999;
 	color: #333;
 	font-size: 12px;
 	left: 130px;
 	padding: 10px;
 	position: absolute;
 	text-align: center;
 	top: 95px;
 	width: 80px;
 	z-index: 10;
 	display: block;
 	opacity: 0;
 }

.pie{
  position: absolute;
}

.donut{
  position: absolute;
}

.tooltipscatter {
  stroke: black;
	position: absolute;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
}
