.masthead {
 background-image: url(/doc/1558408198316.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 text-align: left;

}

.brand-heading{
	color: #dfdfdf;
	text-align: left;
}
.intro-text{
	color: white;
	text-align: left;
}


.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}


.svg {
	  width: 100%;
 	  height: 100%;
    position: absolute;
 }

.legend rect {
 fill:white;
 stroke:black;
 opacity:0.8; }

 .grid line {
   stroke: lightgrey;
   stroke-opacity: 0.7;
   shape-rendering: crispEdges;
 }

 .grid path {
   stroke-width: 0;
 }


.tooltipscatter {
  stroke: black;
	position: absolute;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
}

.tooltippiechart {
  stroke: black;
	position: absolute;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	display: inline;
	font-size: 10px;
	line-height: 1;
	color: rgb(0, 0, 0);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}

.overallcontainer
{width:100%;
background-color: #dfdfdf;}

.mainNav{
	width:100%;
	background-color: #dfdfdf;
}
.row{
    width:100%;
}
.row .col {
  padding: 0;                   /*  added  */
}
/* Containers for visualizations */
#rowfirstoptions{
	position: center;
	width: 550px;
	height: 50px;
	margin-top: 5%;
}
#titleworldmap{
	position: relative;
	width: 400px;
	height: 50px;
	text-align: center;
}
#titlescatterplot{
	position: relative;
	width: 400px;
	height: 50px;
	text-align: center;
}
#containerworldmap {
  	position: relative;
  	width: 700px;
  	height: 600px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 2.5%;
  	margin-bottom: 2.5%;
  	background-color: transparent;
		text-align: left;            /*  added  */
}

#containerscatterplot {
  	position: relative;
  	width: 700px;
  	height: 600px;
  	margin-left: 10px;
  	margin-right: auto;
  	margin-top: 2.5%;
  	margin-bottom: 2.5%;
  	background-color: transparent;
  	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
		text-align: right;            /*  added  */
}
#rowsliderid{
	position: center;
	text-align:center;
	width: 550px;
	height: 4px;
	margin-top: 7%;
}
#rowsecondoptions{
	position: center;
	text-align:center;
	width: 550px;
	height: 50px;
	margin-top: 15%;
}
#titlelinegraph{
	position: relative;
	width: 400px;
	height: 50px;
	text-align: center;
}
#titlepiechart{
	position: relative;
	width: 400px;
	height: 50px;
	text-align: center;
}
#containerlinegraph {
  	position: relative;
  	width: 900px;
  	height: 600px;
  	margin-left:auto;
  	margin-right: auto;
  	margin-top: 2.5%;
  	margin-bottom: 2.5%;
  	background-color: transparent;
  	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}
#containerpiechart {
  	position: relative;
  	width: 700px;
  	height: 600px;
  	margin-left:auto;
  	margin-right: auto;
  	margin-top: 2.5%;
  	margin-bottom: 2.5%;
  	background-color: transparent;
  	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}
